<!-- <footer>
    <input type="file" name="image">
    <button id="snapshot">Take a screenshot</button>
    {{#if data}}
    <p>your images</p>
    <ul class="images">
        {{#each data}}
        <li><img class="user-photos" src="{{images.standard_resolution.url}}" alt=""></li>
        {{/each}}
    </ul>
    <a href="#save">Save canvas</a>
    {{else}}
    <ul>
      <li><a href="/login">load instagram images</a></li>
      <li><a href="#save">Save canvas</a></li>
    </ul>
    <div class="">
        Current Tool:
        <select id="toolchooser">
            <option>Move</option>
            <option>Resize</option>
            <option>Rotate</option>
            <option>Bring to Front</option>
            <option>Delete</option>
        </select><br/>
    </div>
    {{/if}}
</footer> -->
