$red: #F2898B;
$blue: #B9E1EC;


@import "./shared/settings";
@import "./shared/typography";
@import "./shared/footer";


/**************
** Page view
**************/
section.page {
    background-color: $blue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    div {
        background-color: white;
        width: 40em;
        height: 20em;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

section.main {
    background-color: $blue;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    #canvas {
        background-color: white;
        width: 40em;
        height: 20em;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        .collage {
          display: block;
          width: 40em;
          height: 20em;
          div {
            box-sizing: border-box;
            border: .05em dashed grey;
            display: inline-block;
            float: left;
            margin: .01px;
            overflow: hidden;
          }
          div:first-child {
              width: 100%;
              height: 50%;
          }
          div:nth-of-type(2) {
              width: 50%;
              height: 50%;
          }
          div:nth-of-type(3) {
              width: 50%;
              height: 50%;
          }
        }
        .dragover {
            border: dashed 1em #999;
            animation: pulse 4s ease-in-out infinite;
            img {
                width: 100%;
                height: 100%;
            }
        }
        @keyframes pulse{
            0%,50%,100%{
                border: dashed 1em #999;
            }25%,75%{
                border: dashed 1em white;
            }
        }
    }
    h1{
        margin-top: 0;
        text-align: center;
    }
    form {
        opacity: 1;
    }
    form input {
        transition: .3s;
        padding: 1em;
        border: .1em solid #ccc;
        outline: none;
        font-size: 1em;
    }
    form input:hover,
    form input:focus {
        border: .1em solid $red;
    }
    form button {
        font-size: 1em;
        line-height: 292%;
        border: none;
        background-color: $blue;
    }
}


/****************
** drag and drop
****************/
img{
    height: 10em;
    position: absolute;
    // padding: 15px;
    // padding-bottom: 50px;
    box-shadow: 0px 0px 20px #888888;
    // border: 1px solid gray;
    // background-color: white;
}
//
// .toolbar{
//     position: fixed;
//     height: 100px;
//     width: 100%;
//     text-align: center;
// }
