<section id="canvas-container" class="main toolbar">
    <!-- <div id="canvas">
        <form class="username" method="post">
            <h1>Hello world</h1>
            <input autofocus type="text" placeholder="Enter an unique name"/>
            <button class="enter">Join</button>
        </form>
        <div class="collage">
            <div class=""></div>
            <div class=""></div>
            <div class=""></div>
        </div>
    </div> -->
</section>

{{>menu}}
{{>footer}}
