* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: red; }
  @media (min-width: 50em) {
    body {
      flex-direction: row; } }

ul {
  list-style: none;
  padding: 0; }

.hidden {
  transition: 3s;
  opacity: 0;
  position: absolute;
  left: -99999em; }

.notification {
  transition: .3s;
  position: absolute;
  background-color: #F2898B;
  transition: .3s;
  width: 100%;
  height: 5.2em;
  z-index: 999;
  color: white;
  padding: 0.5em;
  animation: 4s blink infinite ease-in-out; }

@keyframes blink {
  0%, 90%, 100% {
    opacity: 1; }
  50%, 60% {
    opacity: 0.5; } }

/**************
** Typography
**************/
body {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5em; }

footer {
  position: absolute;
  padding: 4em;
  height: 100%;
  width: 20vw;
  right: 0;
  text-align: center; }
  footer p,
  footer a {
    text-align: center;
    text-transform: uppercase; }
  footer a {
    padding: 1em;
    color: #F2898B;
    text-decoration: none; }
  footer ul.images {
    display: flex; }
  footer ul.images li {
    width: 5em;
    height: 5em;
    cursor: pointer;
    margin: 0.1em; }
    footer ul.images li img {
      width: 100%;
      height: auto; }
  @media (min-width: 50em) {
    footer {
      height: 100vh;
      width: 25%;
      background-color: white;
      padding-left: 2em;
      padding-right: 2em; }
      footer a {
        padding: 0; } }

/**************
** Page view
**************/
section.page {
  background-color: #B9E1EC;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  section.page div {
    background-color: white;
    width: 40em;
    height: 20em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }

section.main {
  background-color: #B9E1EC;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  section.main #canvas {
    background-color: white;
    width: 40em;
    height: 20em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center; }
    section.main #canvas .collage {
      display: block;
      width: 40em;
      height: 20em; }
      section.main #canvas .collage div {
        box-sizing: border-box;
        border: .05em dashed grey;
        display: inline-block;
        float: left;
        margin: .01px;
        overflow: hidden; }
      section.main #canvas .collage div:first-child {
        width: 100%;
        height: 50%; }
      section.main #canvas .collage div:nth-of-type(2) {
        width: 50%;
        height: 50%; }
      section.main #canvas .collage div:nth-of-type(3) {
        width: 50%;
        height: 50%; }
    section.main #canvas .dragover {
      border: dashed 1em #999;
      animation: pulse 4s ease-in-out infinite; }
      section.main #canvas .dragover img {
        width: 100%;
        height: 100%; }

@keyframes pulse {
  0%, 50%, 100% {
    border: dashed 1em #999; }
  25%, 75% {
    border: dashed 1em white; } }
  section.main h1 {
    margin-top: 0;
    text-align: center; }
  section.main form {
    opacity: 1; }
  section.main form input {
    transition: .3s;
    padding: 1em;
    border: .1em solid #ccc;
    outline: none;
    font-size: 1em; }
  section.main form input:hover,
  section.main form input:focus {
    border: 0.1em solid #F2898B; }
  section.main form button {
    font-size: 1em;
    line-height: 292%;
    border: none;
    background-color: #B9E1EC; }

/****************
** drag and drop
****************/
img {
  height: 10em;
  position: absolute;
  box-shadow: 0px 0px 20px #888888; }
